.green{
    color: green;
}
.blue{
    color: darkblue;
    font-size: 16px;
}
.cw01{
   
    background-color: lightblue;
    color: darkblue;
    padding: 10px;
    border: 1px solid blue;
}